.chat {
  height: 797px;
  min-height: 797px;

  .temp {
    height: 797px;
  }

  .chatMessageBox {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #2f9898;
    color: black;
    width: 900px;
    height: 50px;
    padding-left: 10px;
  }

  .chatMessageBox:focus {
    outline: none;
    border: 2px solid #ec6323;
    color: black;
  }

  .messageBubble {
    //margin: 40px;
    //display: inline-block;
    position: relative;
    width: 750px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }
}
