.feedPicContainer{
  height: 700px;
}

.feedPic{
  display: inline-block;
  //min-height: 100%;
  //max-width: 1250px;
  //max-width: 1250px;
  max-height: 700px;
  //height: auto;
  //width: auto;
  //flex-grow: 1;
  //flex-shrink: 1;
  //flex-basis: auto;
  //object-fit: cover;
  //overflow: auto;
}

.btn-teal {
  background-color: #5F6670 !important;
}

.btn-teal:hover, .btn-teal:active, .btn-teal:visited {
  background-color: #2f9898 !important;
}

.btn-orange {
  background-color: #5F6670 !important;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:visited {
  background-color: #ec6323 !important;
}