.slideshow {
  overflow: hidden;
  width: auto;
  max-height: 725px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1500ms;
  max-height: 725px;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 725px;
  object-fit: cover;
}

.welcomeMessageBox {
  opacity: 0.6;
  height: 325px;
}

.welcomeMessage {
  margin: 20px;
}

.slideshowDots {
  margin-top: 5px;
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #2a3439;
}
