@import "./main";
@import "./dashboard";
@import "./feed";
@import "./home";
@import "./groups";
@import "./discover";
@import "./authentication";
@import "./chat";

html {
  overflow: hidden;
  height: 100%;
}

body {
  //Makes body only scrollable
  height: 100%;
  overflow: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pic_in_a_row {
  display: flex;
  margin: 25px 0;
}

.dashboardImage {
  color: red;
}

//Target a specific class
.container-fluid {
  overflow: auto;
  display: table;
  padding: 0 !important;
}

.myNavbar {
  .container-fluid {
  }

  img {
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

//-----------
//TRY
//-----------

/*
<div className="blog-preview" key >
    <h2> smt </h2>
</div> 

--> .blog-preview h2 {}
--> .blog-preview a {}
*/

//-----------
//TESTING
//-----------
