@import "./main";
@import "./dashboard";

html {
  overflow: hidden;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//Target a specific class
.container-fluid {
  display: table;
}

// Target a specific id,
#feed {
  background-color: teal;
}

#loginBody {
  color: blue;
  background-color: orange;
  height: 100vh;
}

@import "../node_modules/bootstrap/scss/bootstrap";

//-----------
//TRY
//-----------

/*
<div className="blog-preview" key >
    <h2> smt </h2>
</div> 

--> .blog-preview h2 {}
--> .blog-preview a {}
*/

//-----------
//TESTING
//-----------

// #dashboardContainer {
//   background-color: green;
// }

// .container {
//   background-color: pink;
// }
